*{
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-style: italic;
}

h1{
    backdrop-filter:  blur(20px);
    color: #000000;
    font-style:oblique;
    letter-spacing: 1px;
    font-weight: 599;
}
#container{
    width: 100%;
    max-height: 91.44vh;
    height: 91.44vh;
    text-align: center;
    background: url(./../images/wallpaper1.png) no-repeat;
    background-size:cover;
    background-clip: content-box;
    background-position:top;
}
#containerbody{
    text-align: center;
    width: 80%;
    height: 91%;
    transform: translateX(12%);
    backdrop-filter: blur(5px);
    /* border-bottom: solid 1px black; */
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius:  0px  0px 30px 30px  ;
    position: relative;
    /* margin-bottom: 5%; */
    
}
/* form{
    margin-top: 10%;
} */
input , textarea{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    color: #000000ea;
    
}

textarea{
    height: 100px;
}
select{
    margin-bottom: 10px;
    height: 40px;
    width: 37%;
    font-size: 1.5em;
    text-align: center;
    background-color: #ffffff;
    color: #000000c4;
    border-radius: 20px;
}

/* select:focus{
    font-size: 1em;
} */



#submit{
    position: absolute;
    bottom: 0;
    width: 100%;

}

#submit input{
    background-color: rgba(136, 103, 66, 0.932);
    color: #d8d8d8;
}

#submit button{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-size: 1.2em;
    color: blue;
    border: none;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid black;
}
p{
    backdrop-filter: blur(10px);
    height: 6%;
    font-weight: 300;
    font-style:normal;
    letter-spacing: 1px;
    font-size:1.2em ;
    color: #fcf1f1;
    margin-top: 5%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
span{
    margin-right: 10px;
}
